.input-row {
    display:flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 5px;
}

fieldset {
    border: 0;
}

.blue-background {
    background-color: lightblue;
}

.grey-background {
    background-color: lightgrey;
}

.input-cell {
    display:flex;
    flex-direction:column;
    align-self: center;
}

form {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
}

h1 {
    margin-block-end: 0;
}

#orange {
    color: orange
}
#green {
    color: green
}
#gold {
    color: gold
}
#blue {
    color: blue
}

#orange-section {
    background-color: lightsalmon
}
#green-section {
    background-color: lightgreen
}
#gold-section {
    background-color: lightgoldenrodyellow
}
#blue-section {
    background-color: lightsteelblue
}

body {
    margin: 0px 20px 0px 20px;
    display:flex;
    flex-direction:column;
    min-height: 100vh;
}

#home {
    justify-content:space-between;
}