.input-row {
    display:flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 5px;
}

fieldset {
    border: 0;
}

.blue-background {
    background-color: lightblue;
}

.grey-background {
    background-color: lightgrey;
}

.input-cell {
    display:flex;
    flex-direction:column;
}

body, form {
    display: flex;
    flex: 1;
    flex-direction: column;
    
}

ul {
    list-style: none;
    padding: 0;
}

#orange {
    color: orange
}
#green {
    color: green
}
#gold {
    color: gold
}
#blue {
    color: blue
}